<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

  <div class ="try">

    <div class = "left-div">左边fedddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</div>
    <div class = "right-div">右边fedddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</div>

  </div>

</body>

<style>

  .try{
    height: 100px;
    width: 500px;
    background: #ff8198;

  }

  .left-div{

    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    width: 50%;
    background: #eeeeee;
    white-space: nowrap;
    float: left;

  }


  .right-div{
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: right;
    background: aqua;
    float: left;

  }

</style>

</html>
